@charset "utf-8";
/* 商城 */
.wrap{width:100%;height:100%;background:#ececec;}
header{width:100%;padding:10px;}
.h_address{color:#fff;width:29px;font-size:22px;display:inline-block;margin-top:-3px;}
.search{background:#0078c3;border-radius:15px;padding:3px 12px;}
.txt{width:100%;height:25px;display:block;background:#0078c3;color:rgba(255,255,255,0.5);font-size:1.6rem;font-family:"微软雅黑";}
.icon_search{color:#fff;margin-right:8px;display:block;}
.tit{width:100%;background:#fff;padding:5px 10px 6px 10px;border-bottom:solid 1px #ccc;position:relative;}
.a_btn{width:80px;line-height:30px;display:block;color:#fff;border-radius:15px;text-align:center;}
.icon_allow{color:#a2a2a2;font-weight:normal;margin-left:5px;display:inline-block;}
.tit h3{font-weight:normal;}
.banner {width:100%;height:auto;margin-top:8px;position:relative;}
.banner ul{margin:0;font-size:0;}
.banner ul.pic li{display:none;}
.banner ul.pic li:first-child{display:block;}
.banner ul.icons{position:absolute;bottom:15px;overflow:hidden;left:50%;transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	-ms-transform:translateX(-50%);}
.banner ul.icons li{width:5px;height:5px;background:rgba(255,255,255,.7);border:solid 1px #fff;border-radius:50%;float:left;margin-right:6px;}
.banner ul.icons li:first-child{background:#c01442;}
.fixed{position:fixed;bottom:0;left:0;background:#fff;width:100%;padding:2px 0;z-index:99;box-shadow:0 0 18px 1px rgba(0,0,0,.2);}
section{border-bottom:solid 1px #ececec;background:#fff;}
.cur_padding{padding:0!important;}
.curpadding{padding:5px 0;}
.curbg{background:#eee;}
.allow{width:22px;text-align:center;height:40px;background:#ff6767;margin-right:8px;position:relative;}
.allow:after{content:'';width:22px;height:22px;z-index:1;background:#fff;position:absolute;left:0;bottom:-15px;transform:rotate(45deg);
	-ms-transform:rotate(45deg); 	/* IE 9 */
	-moz-transform:rotate(45deg); 	/* Firefox */
	-webkit-transform:rotate(45deg); /* Safari 和 Chrome */
	-o-transform:rotate(45deg); }
.allow span{position:relative;font-size:1.2rem;z-index:2;color:#fff;display:block;line-height:15px;}
.list{padding:10px 0 10px 10px;}
.tu{width:30%;margin-right:8px;border:solid 1px #eee;overflow:hidden;position:relative;}
.new{width:28px;height:28px;position:absolute;top:0;left:0;}
p{width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.h3_tit a{color:#666;display:block;margin-bottom:5px;}
.tu_mall{width:86px;height:78px;}
.p_mall{font-size:1.4rem;}
@media (device-height:480px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone4/4s */
	.p_mall{line-height:19px;}h3{font-size:1.3rem;}
	.banner ul.pic li img{height:119px;}
}
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone5 */
	.p_mall{line-height:19px;}h3{font-size:1.3rem;}
	.banner ul.pic li img{height:119px;}
}
@media (device-width:375px) and (-webkit-min-device-pixel-ratio:2){/*iphone6*/
	.h3_tit a{margin-bottom:3px;}.p_mall{line-height:20px;}
	.banner ul.pic li img{height:140px;}
}
@media (device-width:414px) and (-webkit-min-device-pixel-ratio:3.0){/* 兼容iphone6 plus */
	p{line-height:20px;} .banner ul.pic li img{height:154px;}
}
@media screen and (min-width:768px) and (max-width:1536px){
	.h3_tit{line-height:4.0rem;font-size:3.8rem;margin-bottom:40px;}p{line-height:3.8rem;font-size:3.0rem;}.tu{margin-right:20px;}
}
.menu{position:absolute;top:33px;left:0px;height:auto;background:#fff;z-index:3;}
.menu a{color:#666;padding:10px 0;text-align:center;display:block;border-bottom:solid 1px #ccc;}
.menu ul li{width:100px;background:#fff;position:relative;}
.menu_two li{position:relative;}
.menu_two,.menu_three{position:absolute;left:100%;top:0;}


/* 全部订单 */
nav{width:100%;background:#fff;}
nav ul{width:100%;}
nav ul li{width:25%;float:left;text-align:center;position:relative;}
.li_hover{border-bottom:solid 3px #008ee8;}
nav ul li a{color:#666;font-size:1.4rem;padding:10px 0;display:block;outline:none;}
.order{margin-top:10px;}
.or_message{background:#fff;width:100%;padding:10px 10px 5px 10px;}
.or_message p{margin-bottom:5px;}
section{border-top:solid 1px #ececec;}
.i_bmargin{margin-right:15px;}
.i_margin{width:18px;margin-right:3px;}
span.flex{display:block;overflow:hidden;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.i_allow{width:15px;color:#666;}
.i_width{width:41px;display:block;}
@media screen and (min-width:768px) and (max-width:1536px){
	.i_width{width:6%;}
}
.sec_tit{padding:10px;}
.sec_tit span{display:block;}
.h3_titor{margin-bottom:30px;line-height:28px;}
.sec_order{padding:10px;width:100%;}
.i_num{margin-left:3px;}
.tu_order{width:92px;height:77px;}
/* 订单详情（确认订单）*/
.sec_firm{border:none;padding:10px;width:100%;margin-bottom:10px;}
.sec_firm p{margin-bottom:5px;}
.btn_lf{margin-left:8px;}
.sec_padding{padding:0;}
.box_text{width:100%;padding:10px 10px 5px 10px;}
.h3_bottom{width:100%;padding:10px;border-bottom:solid 1px #ececec;}
.i_name{margin-right:5px;}
.i_time{margin-left:10px;}
.product{background:#fff;padding-bottom:5px;}
.sec_product{border:none;}
.p_box{text-align:left;width:30%;}
.product p{margin-bottom:5px;}
.btn_box{background:#fff;border-top:solid 1px #ccc;padding:10px;margin-top:20px;}
.btn_box a{display:block;color:#fff;padding:5px 20px;background:#ff6767;border-radius:15px;line-height:18px;}
.address_line{padding-top:10px;}
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone5 */
	.address_line{padding-top:4px;}
}

/* 商家入驻 */
article{padding:10px;}
article p{width:100%;overflow:auto;text-overflow:inherit;white-space:inherit;}
.sec_mer{border:none;padding:10px 20px 10px 10px;}
.row{margin-bottom:10px;}
.row_name{width:65px;}
.text{border:solid 1px #ccc;height:28px;display:block;width:100%;}
.btn_mer{border-top:none;margin-top:50px;}
.btn_box .a_mer{background:#008ee8;padding:5px 90px;}

/*店铺*/
.h3_store{background:#fff;text-align:center;padding:10px 0 10px 0;color:#999;width:100%;border-bottom:solid 1px #ccc;font-size:16px;}
.nav_store{width:100%;overflow:hidden;}
.nav_store ul li{width:33.333%;}
.tit_store{padding:10px 0;font-weight:normal;background:#f5f5f5;}
.kind_name{width:60px;border-right:solid 1px #dfdede;text-align:center;padding:15px 0;}
.sec_merxx{border-bottom:solid 1px #dfdede;}
.mer_rg{padding-left:5px;width:100%;overflow:hidden;}
.mer_rg i{margin-right:3px;font-size:20px;color:#c3c1c1;}
.nav{width:60px;}
.nav ul li{border-bottom:solid 1px #dfdede;text-align:center;}
.nav ul li a{display:block;color:#666;padding:15px 0;}
section.sec_list{border-top:none;padding-bottom:10px;background:#fff;}
.sec_del{border-top:none;border-bottom:solid 1px #eee;}
.tu_store{width:88px;height:73px;}
.car{width:30px;height:30px;position:absolute;right:0;bottom:0;border:solid 1px #ff6767;border-radius:50%;text-align:center;line-height:30px;
	transform:rotate(-20deg);
	-ms-transform:rotate(-20deg); 	/* IE 9 */
	-moz-transform:rotate(-20deg); 	/* Firefox */
	-webkit-transform:rotate(-20deg); /* Safari 和 Chrome */
	-o-transform:rotate(-20deg);
}
.mer_relative{position:relative;}
.car i{color:#ff6767;font-size:24px;}
.mer_sp{box-flex:1;-webkit-box-flex:1;-moz-box-flex:1;-ms-box-flex:1;-o-box-flex:1;}
.sec_pro{width:100%;padding:10px;border-bottom:solid 1px #dfdede;border-left:solid 1px #dfdede;}
.h3_mer{margin-bottom:4px;}
.p_size{font-size:1.6rem;}
.operation{width:65px;height:20px;}
.operation a{width:20px;height:20px;display:block;text-align:center;line-height:18px;font-size:20px;color:#999;border:solid 1px #ccc;}
.minus{border-top-left-radius:5px;border-bottom-left-radius:5px;}
.add{border-top-right-radius:5px;border-bottom-right-radius:5px;}
.operation input{width:22px;height:20px;text-align:center;color:#999;border-bottom:solid 1px #ccc;border-top:solid 1px #ccc;}
.addhover{color:#fff!important;background:#008ee8;}
.prohover{background:#ececec;color:#333;}
.store_fixed{width:100%;padding:10px;background:#fff;border-top:solid 1px #ccc;position:fixed;bottom:0;}
.wrap_store{overflow:hidden;}
.a_car{width:78px;background:#ff6767;border-radius:15px;color:#fff;line-height:30px;text-align:center;display:block;}
.i_store{font-size:28px;}
.car_store{position:relative;}
.circle{width:13px;height:13px;background:#ff6767;border-radius:50%;text-align:center;line-height:13px;color:#fff;font-size:0.9rem;position:absolute;top:2px;right:-4px;}
.sp_car{padding-left:10px;font-size:1.6rem;}
.a_car1{margin-left:8px;}

/* 评价 */
.nav_eva{border:none;}
.aColor{width:80px;background:#fff;border-radius:2px;border:solid 1px #ccc;padding:5px 0;}
.nav_store ul li.liWidth{width:auto; margin: 0 8px;}
.lieva{background:#0078c3;color:#fff;}
.nav_eva ul li{position:relative;}
.img_circle{width:35px;height:35px;overflow:hidden;border-radius:50%;margin-right:8px;}
.sec_eva{width:100%;border-bottom:solid 1px #ececec;border-top:none;padding:10px;}
.sp_eva{overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;}
.grey{color:#ccc;}
.black{color:#666;}
/* 商家介绍 */
.sec_intro{border:none;padding:10px;width:100%;}
.big_tu{width:90%;margin:0 auto;margin-bottom:10px;}

/* 确认订单 */
.h_sure{padding:10px 0;font-weight:normal;}
.sp_sure2{width:60px;}
.sp_sure3{width:45px;text-align:right;}
.sec_sure{border:none;padding:10px;width:100%;}
.i_sure{color:#999;}
.row_margin{margin-bottom:8px;}
.row_total{margin-top:30px;}
.i_total{font-size:1.8rem;}
.sec_top{margin-top:10px;}
.h3_sure{font-weight:normal;font-size:1.4rem;padding:0 0 6px 0;}
.box_input a{color:#666;line-height:28px;display:block;}
.sp_name{width:70px;display:block;}
.box_input{width:100%;height:28px;border:solid 1px #999;padding:0 0 0 5px;}
.box_input i{width:30px;display:block;font-size:20px;text-align:center;}
.sendtime{width:119%;border:solid 1px #999;padding:0 0 0 5px;position:relative;
	z-index:2;background:#fff;position:relative;margin-left:-6px;margin-top:10px;border-top:none;}
.checked{display:none;color:#000;}
.icon_box{width:20px;}
.line_box{line-height:20px;margin-left:5px;}
.date_popup,.time_popup,.cell_popup{width:100%;height:100%;background:rgba(0,0,0,.5);position:fixed;bottom:0;left:0;}
.date_box,.time_box{background:#eee;width:200px;}
.cell_box{background:#fff;width:200px;padding:0 10px 10px 10px;}
.date_box p,.time_box p{width:100%;padding:8px 0;padding-left:8px;border-bottom:solid 1px #ccc;}
.p_hover{background:#d7eefd;color:#008ee8;}
.date_name{margin-right:8px;}
.i_address{width:30px;font-size:20px;text-align:center;}
.area_box{padding:3px;width:100%;display:block;font-size:14px;color:#666;font-family:"Microsoft yahei",Arial,sans-serif,Helvetica,sans-serif;}
.note{margin-top:10px;}
.a_order{width:70%;margin:0 auto;line-height:32px;}
.order_icon{width:33.333%;}
.order_fixed{position:fixed;left:0;bottom:0;padding:5px 0;background:#fff;border-top:solid 1px #ccc;width:100%;}
.order_icon i{font-size:24px;}
.i_edit{width:40px;display:block;}
.icon_address{width:40px;}
.address_edit{padding:10px 0 15px 0;width:100%;}
.icon_address p{width:100%;overflow:visible;text-overflow:inherit;white-space:normal;}
.h3_cell{font-weight:normal;padding:10px 0;text-align:center;}
.p_cell{white-space:initial;}
.sp_cell{display:block;width:60px;}
.sec_delete{width:100%;border-top:none;}
.right_car{width:20%;text-align:center;background:#f7124d;color:#fff;}
/* 地址列表 */
.sec_alist{padding:10px;color:#666;}
.i_alist{font-size:20px;}

/* 购物车 */
.i_car{font-weight:normal;}
.h3_tit{font-weight:normal;}
.m_car{background:#fff;margin-top:10px;padding:10px;}
.m_car span i{font-size:2.0rem;}
.a_total{background:#ff6767;width:60%;margin-top:30px;}
.tu_spcap{width:90px;height:74px;}

/* 个人中心 */
.sec_center{width:100%;background:#fff;padding:10px;border-top:none;border-bottom:none;margin-bottom:10px;}
.p_tit{margin-bottom:10px;}
.tu_center{width:75px;height:75px;}
.center_color{width:100%;background:#99d2f6;color:#fff;padding:5px 0;}
.i_icons{background:url(../img/icons.png) no-repeat;width:30px;height:30px;display:block;display:inline-block;vertical-align:middle;background-size:180px auto;}
.i_xx{background-position:0px 0px;}
.i_sc{background-position:-30px 0;}
.i_dd{background-position:-60px 0;}
.i_zf{background-position:-90px 0;}
.i_sh{background-position:-120px 0;}
.i_sd{background-position:-150px 0;}
.f_two{width:25%;position:relative;padding:5px 0;}
.center_color{padding:0;}
.i_center{color:#666;}
.center_fixed{width:100%;position:fixed;left:0;bottom:0;background:#fff;border-top:solid 1px #ececec;}
.nav_name{width:25%;text-align:center;position:relative;padding:10px 0;}
.center_padding{padding:8px 0;}
/* 已参加 */
.h_attend{padding:10px 0;text-align:center;background:#fff;width:100%;margin-bottom:12px;}
.tu_attend{width:18%;}
.p_attend{white-space:inherit;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;margin-bottom:10px;}
.attend_box{background:#eee;border-top-left-radius:10px;border-bottom-left-radius:10px;padding:1px 17px;position:absolute;right:0px;}
.sec_attent{position:relative;}


/* 评价选择 */
.comment{width:84%;margin:0 auto;background:#fff;box-shadow:0 0 6px 2px rgba(0,0,0,.1);padding:15px 11px 20px 10px;}
.f_comment{margin-bottom:10px;}
.com_area{width:100%;background:#ececec;min-height:120px;border:none;}
.btn_eva{border-top:none;}
.btn_eva a{background:#008ee8;width:60%;text-align:center;}
.eva_wrap{padding-top:40px;}

/* 个人资料设置 */
.sec_set{width:100%;padding:10px 20px 20px 20px;border-top:none;border-bottom:none;}
.portrait{width:40%;margin:0 auto;text-align:center;margin-bottom:20px;}
.tu_set{width:80px;height:80px;margin-right:0;margin:0 auto;}
.wz{font-size:1.2rem;margin-top:5px;}
.set_row{margin-bottom:20px;}
.box_line{border:solid 1px #ccc;height:28px;line-height:28px;padding-left:5px;font-size:15px;color:#666;}


/* 我的收藏 */
.h3_coll{background:#fff;margin-bottom:12px;padding:10px 0;font-weight:normal;}
.sec_coll{position:relative;border-top:none;border-bottom:none;margin-bottom:8px;}
.box_coll{width:100%;padding:10px;}
.tu_coll{width:20%;}
.delete{background:#ff6767;color:#fff;padding:0 10px;}
.h3_col{margin-bottom:8px;font-weight:normal;}
.p_col{margin-bottom:5px;}
@media (device-height:480px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone4/4s */
	.h3_col{margin-bottom:4px;}.p_col{margin-bottom:0;}
}
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone5 */
	.h3_col{margin-bottom:0px;}.p_col{margin-bottom:0;}
}
@media (device-width:375px) and (-webkit-min-device-pixel-ratio:2){/*iphone6*/
	.h3_col{margin-bottom:0px;}.p_col{margin-bottom:0;}
}
@media (device-width:414px) and (-webkit-min-device-pixel-ratio:3.0){/* 兼容iphone6 plus */
	.h3_col{margin-bottom:0px;}.p_col{margin-bottom:0;}
}
/*收货地址管理 */
.sec_man{border-top:none;border-bottom:none;}
.up{width:100%;border-bottom:solid 1px #ececec;padding:10px;}
.up span{display:block;}
.dw{background:#fff;padding:10px;width:100%;}
.a_man{padding:2px 15px;}
.a_blue{border:solid 1px #008ee8;color:#008ee8;margin-right:8px;}
.a_red{border:solid 1px #ff6767;color:#ff6767;}
.a_manb{margin-top:100px;}
.a_manb i{margin-right:5px;font-size:18px;width:20px;display:inline-block;}
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone5 */
	.span_top{display:block;margin-top:4px;}
}
@media (device-width:375px) and (-webkit-min-device-pixel-ratio:2){/*iphone6*/
	.span_top{display:block;margin-top:5px;}
}
@media (device-width:414px) and (-webkit-min-device-pixel-ratio:3.0){/* 兼容iphone6 plus */
	.span_top{display:block;margin-top:5px;}
}
/*信息中心*/
.box_infor{background:#fff;margin-bottom:8px;}

/* 最新活动 */
.sp_last{margin-top:5px;display:block;}
.i_last{display:block;margin-right:8px;}
.i_lallow{color:#666;}
.big_tu1{margin-bottom:30px;}


/* 新建/编辑收货人*/
.sec_address{border-top:none;border-bottom:none;}
.f_line{border:solid 1px #ccc;line-height:28px;height:28px;padding:0 3px;position:relative;}
.f_margin{margin-right:8px;}
.ProvinceSing{width:100%;height:30px;background-color:#fff;}
.ProvinceCityArea{position:absolute;top:28px;left:-1px; border:solid 1px #ccc;width:100%;display:none;background-color:#fff;}
.curSing{color:#008ee8; background-color:#d7eefd}
/*没有商品*/
.a_goods{width:100px;height:28px;line-height:28px;display:block;background:#eee;border-radius:5px;border:solid 1px #ccc;margin:0 auto;color:#666;margin-top:30px;}
.goods{margin-top:60px;}

/* 投票支持 */
.nav_cur{background:#d4d2d2;color:#666;}
.vote_p{white-space:inherit;text-indent:24px;margin-bottom:8px;}
.sec_vote{width:100%;border-top:none;border-bottom:none;padding:10px;}
.bottom_line{border-top:solid 1px #e8e6e6;padding:8px;background:#fff;}
.vote_list{width:100%;background:#fff;margin-top:10px;}
.h4_vote{padding:10px;width:100%;}
.sp_tit{display:block;font-size:1.4rem;font-weight:bold;margin-bottom:5px;overflow:hidden;    text-overflow:ellipsis;white-space:nowrap;}
.sp_dec{display:block;font-size:1.2rem;}
.sec_vlist{padding:10px 5px;border-top:none;}
.a_vote{background:#008ee8;display:block;border-radius:15px;color:#fff;padding:5px 0px;width:160px;margin:0 auto;text-align:center;margin-top:20px;margin-bottom:20px;}

/* 团队介绍 */
.h3_team{background:#fff;text-align:center;padding:10px 0;font-weight:normal;}
.team_dw{background:#fff;margin-top:10px;}
.team_up{width:80%;margin:0 auto;padding:12px 0;}
.tu_team{margin-bottom:5px;}
.team_up p{line-height:23px;}
.team_xia{width:100%;padding:10px;}
.team_xia h4{margin-bottom:5px;}
.team_xia p{white-space:inherit;}

/* 比赛专栏 */
.match_tit{background:#fff;margin-bottom:10px;}
.match_tit ul{width:100%;}
.match_tit ul li{width:33.3333%;float:left;position:relative;}
.match_tit a{display:block;color:#999;padding:10px 0;text-align:center;outline:none;}
.i_left{margin-left:3px;}
.sec_match{margin-top:5px;padding:10px;position:relative;}
.sp_nametit{text-align:center;padding:5px 15px;display:block;background:#eee;color:#666;position:absolute;bottom:10px;right:0;border-top-left-radius:8px;border-bottom-left-radius:8px;}
.dw_dec{padding:8px 0 0 0;}
.dw_dec span{color:#666;}
.sp_gap{margin-left:20px;}
.menu-list{margin-top:-1px;}
.menu-list ul li a{line-height:40px;display:block;background:#fff;color:#666;border-top:solid 1px #ccc;padding-left:15px;}

/* 学校搜索 */
.select-school-result{z-index:1;position:fixed;background-color:#fff;display:inline-block;top:51px;width:100%;overflow:scroll;bottom:0;}
.select-school-result ul{color:#746d68;padding:0;}
.select-school-result ul li{list-style:none;font-size:16px;border-bottom:dashed 1px grey;padding:12px 0 12px 30px;}
.select-school-result ul li a{text-decoration:none;color:#746d68;display:block;width:100%;}


/* 分页 */
.page{background:#eee;padding:10px 0;}
.pre,.next{display:block;width:80px;height:28px;text-align:center;line-height:28px;border:solid 1px #ccc;color:#666;}
.pre{margin-right:12px;background:#eee;}
.btnHover{background:#ddd;}


/* 新闻详情 */
.news-h3{background:#fff;text-align:center;line-height:38px;font-size:16px;}
.news-main{margin-top:10px;background:#fff;width:100%;padding:10px;color:#666;}
.news-main p{white-space:inherit;text-indent:24px;text-align:justify;line-height:22px;}
.news-main span{display:block;line-height:22px;}
.p-one{margin-bottom:5px;}
.p-two{margin-top:20px;}
.news-tu{width:90%;margin:0 auto;margin-top:15px;margin-bottom:10px;}

/* 发布方 */
/* 发布方 */
.sec-pub{width:100%;padding:10px;background:#fff;border-bottom:none;border-top:none;}
.pub-tu{width:70px;height:70px;border:solid 1px #ccc;margin-right:8px;}
.a-pub{background:#008ee8;border-radius:15px;width:80px;text-align:center;color:#fff;display:block;line-height:30px;}
.pub-h5{font-size:15px;margin-bottom:10px;}
.em-pub{margin-right:5px;}
.art-pub{background:#ececec;}
.art-pub p{color:#666;}
.pub-h2{text-align:left;font-size:15px;font-weight:bold;color:#5a5a5a;}
.li-pub{width:50%;position:relative;}
.li-pub a{padding:13px 0;}
.tab-tu{width:124px;height:84px;margin:8px 0;}
.tit-h5{font-size:15px;font-weight: bold;margin-bottom:10px;}
.pub-box{padding-top:10px;}
.list-box{width:100%;padding:10px;}
.pub-p{white-space:inherit;text-align:justify;}
.nav-pub{background:#f5f5f5;}
.pub-cur{background:#fff;border-bottom:solid 1px #fff;}

/* 我要报名 */
.apply-allow{width:27px;height:44px;background:url(../img/allow.png) no-repeat;background-size:contain;text-align:center;color:#fff;line-height:14px;font-size:12px;margin-right:5px;margin-top:4px;}
.apply-p p{overflow:hidden;font-size:15px;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;white-space:inherit;color:#666;margin-bottom:10px;}
.apply-p span{display:block;line-height:20px;}
.apply-p span i{margin-left:5px;color:#666;}
.sec-apply{width:100%;padding:10px 10px 15px 10px;border-top:none;border-bottom:none;}
.table-box{width:100%;padding:10px;}
.table-h3{font-size:15px;margin-bottom:17px;}
.table-h4{font-size:14px;color:#666;margin-bottom:8px;}
.table-input{border:solid 1px #ccc;display:block;width:100%;padding:8px 5px;font-size:14px;color:#666;margin-bottom:15px;}
.sex-row{margin-bottom:15px;}
.table-name{margin-right:30px;color:#666;font-size:14px;font-weight:bold;}
.radio-box{margin-right:30px;}
.sp-radio input{margin-right:4px;opacity:0;}
.sp-radio{width:18px;height:18px;display:block;background:url(../img/inputradio.png) no-repeat;background-position:-27px 0;}
.radio-boy{background-position:-3px 0;}
.radio-girl{background-position:-49px 0;}
.lab-row{display:block;line-height:22px;margin-left:5px;}
.refer-button{background:#008ee8;color:#fff;width:80%;margin:0 auto;border-radius:15px;height:33px;display:block;font-size:15px;font-weight:bold;font-family:"Microsoft yahei",Arial,sans-serif,Helvetica,sans-serif;margin-bottom:10px;}

/* 活动报名 */
.nav-enroll{width:100%;background:#fff;position:fixed;left:0;top:0;z-index:100;}
.nav-enroll ul li{position:relative;width:50%;border-bottom:solid 1px #ececec;}
.drop-down-box{background:rgba(0,0,0,.5);width:100%;height:auto;position:fixed;bottom:0;z-index:2;top:40px;overflow:scroll;left:0;}
.main-box{padding-top:48px;}
.sec-enroll{width:100%;padding:10px;margin-bottom:5px;}
.tu-enroll{width:50px;height:50px;overflow:hidden;}
.wz-enroll{margin-left:6px;text-align:justify;}
.wz-enroll p{text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;white-space:inherit;font-size:14px;}
.wz-enroll span{display:block;font-size:12px;}
.dw-enroll{position:relative;margin-top:15px;}
.dw-enroll span{display:block;line-height:24px;}
.dw-enroll .sp-date{color:#666;}
.i-date{margin-right:5px;}
.em-enroll{margin-left:5px;}
.absolute-bottom{position:absolute;background:#eee;border-top-left-radius:10px;border-bottom-left-radius:10px;color:#666;right:-10px;bottom:2px;padding:3px 15px;font-size:12px;}
.location{bottom:28px;}
.enroll-menu{position:relative;background:#f5f1f2;}
.line-one:before{content:'';width:1px;height:100%;background:#ccc;position:absolute;left:0.333%;top:0;z-index:1;}
.line-two:before{content:'';width:1px;height:100%;background:#ccc;position:absolute;left:-0.334%;top:0;z-index:1;}
.enroll-menu div{width:33.3333%;margin-top:-1px;}
.enroll-menu div.middle-menu{position:fixed;left:33.333%;top:93px;}
.enroll-menu div.right-menu{position:fixed;right:0;top:93px;}
.enroll-menu div ul li{color:#666;background:#fff;line-height:40px;border-top:solid 1px #ccc;position:relative;}
.enroll-menu div ul li span.sp-lf{margin-left:8px;}
.enroll-menu div ul li span.sp-rg{margin-right:8px;float:right;position:absolute;top:11px;right:0;line-height:18px;}
.i_down{margin-left:10px;}
.right-menu ul li{text-align:center;}
.enroll-menu div ul li.hover{background:#ddd;}
.enroll-menu div ul li.cur{background:#dedcdc!important;}
.enroll-menu div.left-menu ul li.hover{background:#ccc;}
.enroll-menu div ul li ul.drop-box li{background:#eee;}


/* 活动详情 */
.sec-actDetail{width:100%;padding:10px;border-top:none;border-bottom:none;}
.tu-actDetail{width:81px;height:114px;margin-right:5px;}
.wz-actDetail p{text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;white-space:inherit;font-size:15px;text-align:justify;color:#666;margin-bottom:6px;}
.wz-actDetail span{display:block;line-height:18px;}
.dw-actDetail{margin-top:12px;}
.sp-actRight{background:#eee;border-top-left-radius:10px;border-bottom-left-radius:10px;padding:3px 15px;margin-right:-10px;}

/*标签*/
.more{position:relative;}
.menu-more{position:absolute;top:-120px;width:100%;background:#fff;right:0;}
.menu-more li a{border-bottom:solid 1px #ddd;padding:10px 0;text-align:center;color:#666;width:100%;display:block;}
.li-color{background:#ddd;}
.lable-nav ul li{width:50%;}
.lable-nav ul li.line{position:relative;}

/*店铺关闭*/
.tu-store{width:100px;height:100px;margin:0 auto;margin-bottom:15px;}
.p-store{color:#414544;font-size:16px;}

/*绑定页面*/
.bind-box{width:100%;margin:0 auto;margin-top:150px;}
.row{line-height:30px;}
.bind-text{width:100%;border:solid 1px #ccc;display:block;height:28px;}
.bind-sp{width:60px;display:block;text-align:right;padding-right:8px;}
.row-button{margin-top:35px;}
.bind-btn{width:150px;height:35px;line-height:35px;font-size:14px;color:#fff;background:#008ee8;border-radius:3px;font-family: "Microsoft yahei",Arial,sans-serif,Helvetica,sans-serif;}